<div class="container">
  <button
    class="bottom"
    mat-stroked-button
    color="primary"
    (click)="fetchAllDevices()"
  >
    Reload Devices
  </button>
  <div class="list" *ngIf="!this.loading">
    <mat-card *ngFor="let record of this.records" class="item">
      <mat-card-title>Device Information</mat-card-title>
      <mat-card-content>
        <frontend-services-device-record
          [devices]="records"
          [deviceEntry]="record"
          [deviceViewEntry]="deviceViewType.Edit"
          [canEdit]="canEdit()"
          [canDelete]="canDelete()"
          (newDeviceEvent)="updateItem($event)"
          (deleteDeviceEvent)="deleteItem($event)"
        ></frontend-services-device-record>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="canEdit()" class="item">
      <mat-card-title>New Device Information</mat-card-title>
      <mat-card-content>
        <frontend-services-device-record
          [devices]="records"
          (newDeviceEvent)="addItem($event)"
          [deviceViewEntry]="deviceViewType.New"
          [canEdit]="canEdit()"
          [canDelete]="canDelete()"
        ></frontend-services-device-record>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="this.loading" class="wrapper">
    <div class="notfound">
      <h1>!</h1>
    </div>
    <div>
      Loading Data
    </div>
  </div>
</div>
