<div class="container">
  <button
    class="spaced"
    mat-stroked-button
    color="primary"
    (click)="fetchAllDevices()"
  >
    Reload Devices
  </button>

  <button
    class="spaced"
    mat-stroked-button
    color="primary"
    (click)="groupBy()"
    [disabled]="label === ''"
  >
    Group Devices by =>
  </button>
  <mat-form-field class="top-input">
    <mat-label>Label</mat-label>
    <input matInput placeholder="Ex. Project" [(ngModel)]="label">
    <button *ngIf="label" matSuffix mat-icon-button aria-label="Clear" (click)="clearGroupBy()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div *ngIf="!this.loading && this.grouped">
    <div class="grouped-list" *ngFor="let group of this.groups">
      <div mat-subheader><b>{{group.entry.label}}</b>: {{group.entry.content}}</div>
      <mat-card *ngFor="let record of group.devices" class="item mat-elevation-z2">
        <mat-card-title>Device Information</mat-card-title>
        <mat-card-content>
          <frontend-services-device-record
            [devices]="records"
            [deviceEntry]="record"
            [deviceViewEntry]="deviceViewType.Edit"
            [canEdit]="canEdit()"
            [canDelete]="canDelete()"
            [canCommand]="canCommand()"
            (newDeviceEvent)="updateItem($event)"
            (deleteDeviceEvent)="deleteItem($event)"
          ></frontend-services-device-record>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
    </div>
    <div mat-subheader>New</div>
    <mat-card *ngIf="canEdit()" class="item mat-elevation-z2">
      <mat-card-title>New Device Information</mat-card-title>
      <mat-card-content>
        <frontend-services-device-record
          [devices]="records"
          (newDeviceEvent)="addItem($event)"
          [deviceViewEntry]="deviceViewType.New"
          [canEdit]="canEdit()"
          [canDelete]="canDelete()"
          [canCommand]="canCommand()"
        ></frontend-services-device-record>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="list" *ngIf="!this.loading && !this.grouped">
    <mat-card *ngFor="let record of this.records" class="item">
      <mat-card-title>Device Information</mat-card-title>
      <mat-card-content>
        <frontend-services-device-record
          [devices]="records"
          [deviceEntry]="record"
          [deviceViewEntry]="deviceViewType.Edit"
          [canEdit]="canEdit()"
          [canDelete]="canDelete()"
          [canCommand]="canCommand()"
          (newDeviceEvent)="updateItem($event)"
          (deleteDeviceEvent)="deleteItem($event)"
        ></frontend-services-device-record>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="canEdit()" class="item">
      <mat-card-title>New Device Information</mat-card-title>
      <mat-card-content>
        <frontend-services-device-record
          [devices]="records"
          (newDeviceEvent)="addItem($event)"
          [deviceViewEntry]="deviceViewType.New"
          [canEdit]="canEdit()"
          [canDelete]="canDelete()"
          [canCommand]="canCommand()"
        ></frontend-services-device-record>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="this.loading" class="wrapper">
    <div class="notfound">
      <h1>!</h1>
    </div>
    <div>
      Loading Data
    </div>
  </div>
</div>
