<div class="container">
  <button
    class="top-button"
    mat-stroked-button
    color="primary"
    (click)="fetchAllDataTransformations()"
  >
    Reload Data Transformations
  </button>
  <div class="list" *ngIf="!this.loading">
    <mat-card
      *ngFor="let transformation of this.dataTransformations"
      class="item mat-elevation-z2"
    >
      <mat-card-title>Data Transformation</mat-card-title>
      <mat-card-content>
        <frontend-services-data-transformation
          [entry]="transformation"
          [dataTransformationViewEntry]="dataTransformationViewType.Edit"
          [canEdit]="canEdit()"
          [canDelete]="canDelete()"
          (newDataTransformationEvent)="updateItem($event)"
          (deleteDataTransformationEvent)="deleteItem($event)"
        ></frontend-services-data-transformation>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="canEdit()" class="item mat-elevation-z2">
      <mat-card-title>New Data Transformation</mat-card-title>
      <mat-card-content>
        <frontend-services-data-transformation
          (newDataTransformationEvent)="addItem($event)"
          [dataTransformationViewEntry]="dataTransformationViewType.New"
          [canEdit]="canEdit()"
          [canDelete]="canDelete()"
        ></frontend-services-data-transformation>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="this.loading" class="wrapper">
    <div class="notfound">
      <h1>!</h1>
    </div>
    <div>
      Loading Data
    </div>
  </div>
</div>
