.dialog-content {
  min-height: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.to-right {
  float: right;
}

.data-list {
  flex-grow: 1;
  overflow: auto;
}
