<div class="container">
  <button
    class="top-button"
    mat-stroked-button
    color="primary"
    (click)="fetchAllDataDecoders()"
  >
    Reload Data Decoder
  </button>
  <div class="list" *ngIf="!this.loading">
    <mat-card
      *ngFor="let decoder of this.dataDecoders"
      class="item mat-elevation-z2"
    >
      <mat-card-title-group>
        <mat-card-title>Data Decoder</mat-card-title>
        <mat-chip-list>
          <mat-chip class="{{getLastTimeSeenColor(decoder)}}" matTooltip="Last time seen">
            <mat-icon>history</mat-icon>
            {{getLastTimeSeen(decoder)}}</mat-chip>
        </mat-chip-list>
      </mat-card-title-group>
      <mat-card-content>
        <frontend-services-data-decoder
          [entry]="decoder"
          [dataDecoderViewEntry]="dataDecoderViewType.Edit"
          [canEdit]="canEdit()"
          [canDelete]="canDelete()"
          (newDataDecoderEvent)="updateItem($event)"
          (deleteDataDecoderEvent)="deleteItem($event)"
        ></frontend-services-data-decoder>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="canEdit()" class="item mat-elevation-z2">
      <mat-card-title>New Data Decoder</mat-card-title>
      <mat-card-content>
        <frontend-services-data-decoder
          (newDataDecoderEvent)="addItem($event)"
          [dataDecoderViewEntry]="dataDecoderViewType.New"
          [canEdit]="canEdit()"
          [canDelete]="canDelete()"
        ></frontend-services-data-decoder>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="this.loading" class="wrapper">
    <div class="notfound">
      <h1>!</h1>
    </div>
    <div>
      Loading Data
    </div>
  </div>
</div>
