.big-input {
  min-width: 80%;
}

.medium-input {
  min-width: 60%;
}

.space {
  margin-top: 15px;
  margin-bottom: 15px
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}

.item-list {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: #0C1821 0px 2px 3px -1px;
  max-width: 80%;
}

.to-right {
  float: right;
}
