<mat-toolbar>
  <a mat-button class="link" routerLink="/">
    <mat-icon aria-label="home">home</mat-icon>
  </a>
  <span class="spacer"></span>
  <span class="link" mat-button routerLink="/records">Device Records</span>
<!--  <span class="spacer"></span>-->
<!--  <span class="link" mat-button routerLink="/location-tracking">Location Tracking</span>-->
<!--  <div *ngFor="let mfe of microfrontends">-->
<!--    <span class="spacer"></span>-->
<!--    <span class="link" mat-button [routerLink]="mfe.routePath">{{mfe.displayName}}</span>-->
<!--  </div>-->
</mat-toolbar>
