.big-input {
  min-width: 80%;
}

.medium-input {
  min-width: 70%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}

.item-list {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: #0c1821 0px 2px 3px -1px;
  max-width: 100%;
}

.to-right {
  float: right;
}
