<p>
  <mat-form-field class="medium-input">
    <mat-label>Device Name</mat-label>
    <input
      [disabled]="deviceView === deviceViewType.Compare || !canEdit"
      [(ngModel)]="device.device.name"
      matInput
    />
    <mat-hint>e.g. GPS Sensor A1</mat-hint>
  </mat-form-field>
  <ng-container *ngIf="deviceView === deviceViewType.Edit && canDelete">
    <button class="to-right" mat-stroked-button (click)="deleteDevice()">
      Delete
    </button>
  </ng-container>
  <br/>
  <mat-form-field class="medium-input">
    <mat-label>Device Id</mat-label>
    <input
      [disabled]="deviceView !== deviceViewType.New"
      [(ngModel)]="device.device.id"
      matInput
    />
    <mat-hint>e.g. 8af821e5-3e0b-4469-88b0-fd07bee3b09d</mat-hint>
  </mat-form-field>
  <ng-container *ngIf="deviceView === deviceViewType.New && canEdit">
    <button
      [disabled]="!device.isValid()"
      class="to-right"
      mat-stroked-button
      (click)="saveDevice()"
    >
      Save
    </button>
  </ng-container>
  <ng-container *ngIf="deviceView === deviceViewType.Edit && canEdit">
    <button
      [disabled]="!device.isValid()"
      class="to-right"
      mat-stroked-button
      (click)="saveDevice()"
    >
      Update
    </button>
  </ng-container>
  <br/>
</p>
<mat-tab-group>
  <mat-tab label="Record Entries">
    <div class="entries">
      <div *ngIf="entryView === viewType.List">
        <mat-list *ngIf="device.entries.length !== 0" class="inner-element">
          <mat-list-item
            class="item-list"
            *ngFor="let entry of device.entries; let i = index"
          >
            <mat-icon (click)="editEntry(i)" mat-list-icon>{{
              getEntryType(entry)
              }}</mat-icon>
            <div mat-line>{{ entry.label }}</div>
            <div mat-line>{{ entry.content }}</div>
            <button
              *ngIf="deviceView !== deviceViewType.Compare && canEdit"
              mat-icon-button
              (click)="removeEntry($event, i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <ng-container *ngIf="device.entries.length === 0" class="inner-element">
          <br/>
          <br/>
          <br/>
          <div class="empty">No Entries</div>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </ng-container>
        <br/>
        <button class="to-right"
                *ngIf="deviceView !== deviceViewType.Compare && canEdit"
                mat-stroked-button
                (click)="entryView = viewType.New"
        >
          New Entry
        </button>
      </div>
      <div *ngIf="entryView !== viewType.List">
        <div class="inner-element">
          <br/>
          <br/>
          Entry Type:
          <mat-radio-group class="radio-button" [(ngModel)]="currentEntry.type">
            <mat-radio-button
              class="radio-button"
              *ngFor="let currentType of recordType"
              [value]="currentType"
            >
              {{ currentType }}
            </mat-radio-button>
          </mat-radio-group>
          <div *ngIf="currentEntry.type === typeType.BASIC">
            <mat-form-field class="medium-input">
              <mat-label>Label</mat-label>
              <input matInput type="text" [(ngModel)]="currentEntry.label"/>
              <mat-icon matSuffix>label</mat-icon>
              <mat-hint>e.g. license plate</mat-hint>
            </mat-form-field>
          </div>
          <div *ngIf="currentEntry.type === typeType.SENSOR_DATA">
            <mat-form-field class="medium-input">
              <mat-label>Sensor Data</mat-label>
              <mat-icon matSuffix>label</mat-icon>
              <mat-select [(ngModel)]="currentEntry.label">
                <mat-option [value]="currentEntry.label">{{ currentEntry.label }}</mat-option>
                <mat-option *ngFor="let option of sensorDataType" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
              <mat-hint>Pick One</mat-hint>
            </mat-form-field>
          </div>
          <mat-form-field class="big-input">
            <mat-label>Content</mat-label>
            <input matInput [(ngModel)]="currentEntry.content"/>
            <mat-icon matSuffix>info</mat-icon>
            <mat-hint>e.g. 00-AA-00</mat-hint>
          </mat-form-field>
        </div>
        <br/>
        <button
          *ngIf="entryView === viewType.New && canEdit"
          mat-stroked-button
          color="primary"
          (click)="addEntry()"
        >
          Add Record Entry
        </button>
        <button
          *ngIf="entryView === viewType.Edit && canEdit"
          mat-stroked-button
          color="primary"
          (click)="saveEntryEdit()"
        >
          Save Changes
        </button>
        <button
          class="to-right"
          mat-stroked-button
          (click)="entryView = viewType.List"
        >
          Back
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Sub Devices">
    <div class="entries">
      <div *ngIf="subDeviceView === viewType.List">
        <mat-list *ngIf="device.subDevices.length !== 0" class="inner-element">
          <mat-list-item
            class="item-list"
            *ngFor="let sub of device.subDevices; let i = index"
          >
            <mat-icon (click)="editDevice(i)" mat-list-icon>sensors</mat-icon>
            <div mat-line>{{getDeviceName(sub.id)}}</div>
            <div mat-line>Ref: {{ sub.reference }}</div>
            <button
              *ngIf="deviceView !== deviceViewType.Compare && canEdit"
              mat-icon-button
              (click)="removeEntry($event, i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <ng-container *ngIf="device.subDevices.length === 0" class="inner-element">
          <br/>
          <br/>
          <br/>
          <div class="empty">No Sub Devices</div>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </ng-container>
        <br/>
        <button class="to-right"
                *ngIf="deviceView !== deviceViewType.Compare && canEdit"
                mat-stroked-button
                (click)="subDeviceView = viewType.New"
        >
          New Sub Device
        </button>
      </div>
      <div *ngIf="subDeviceView !== viewType.List">
        <div class="inner-element">
          <br/>
          <br/>
          <div>
            <mat-form-field class="medium-input">
              <mat-label>Device</mat-label>
              <mat-icon matSuffix>sensors</mat-icon>
              <mat-select [(ngModel)]="currentSubDevice.id">
                <mat-option *ngFor="let option of devices" [value]="option.device.id">
                  {{ option.device.name }}
                </mat-option>
              </mat-select>
              <mat-hint>Pick One</mat-hint>
            </mat-form-field>
            <mat-form-field class="big-input">
              <mat-label>Sub Device Reference</mat-label>
              <mat-icon matSuffix>label</mat-icon>
              <input type="number" matInput [(ngModel)]="currentSubDevice.reference"/>
              <mat-hint>e.g. 3</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <br/>
        <button
          *ngIf="subDeviceView === viewType.New && canEdit"
          mat-stroked-button
          color="primary"
          (click)="addSubDevice()"
        >
          Add Sub Device
        </button>
        <button
          *ngIf="subDeviceView === viewType.Edit && canEdit"
          mat-stroked-button
          color="primary"
          (click)="saveSubDeviceEdit()"
        >
          Save Changes
        </button>
        <button
          class="to-right"
          mat-stroked-button
          (click)="subDeviceView = viewType.List"
        >
          Back
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
