<h1 mat-dialog-title>{{data.name.value}}</h1>
<mat-grid-list class="dialog-content" gutterSize="10" mat-dialog-content cols="2" rowHeight="fit">
  <mat-grid-tile [colspan]="1"
                 [rowspan]="1">
    <mat-grid-tile-header>
      Sensors
    </mat-grid-tile-header>
    <ng-container *ngIf="loadingInfo">
      Loading ...
    </ng-container>
    <ng-container *ngIf="!loadingInfo && sensorsData.length !== 0">
      <mat-list class="data-list" dense>
        <mat-list-item (mouseenter)="onHoverEnter(sensor)" (mouseleave)="onHoverLeave(sensor)"
                       (click)="openDeviceHistory(sensor)" *ngFor="let sensor of sensorsData">
          <mat-icon [ngStyle]="sensor.getColor()" mat-list-icon>sensors</mat-icon>
          <div mat-line>
            <strong>{{sensor.device.name.value | truncate : 25}}</strong>
          </div>
          <div mat-line>
            <mat-chip-list>
              <mat-chip class="{{sensor.getFirstDataIcon()}}">
                <mat-icon>{{sensor.getFirstDataIcon()}}</mat-icon>
                {{sensor.getFirstDataDetails()}}
              </mat-chip>
              <mat-chip class="{{sensor.getSecondDataIcon()}}">
                <mat-icon>{{sensor.getSecondDataIcon()}}</mat-icon>
                {{sensor.getSecondDataDetails()}}
              </mat-chip>
              <mat-chip class="schedule">
                <mat-icon>schedule</mat-icon>
                {{sensor.reportedAt | date:'medium'}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-container *ngIf="!loadingInfo && sensorsData.length === 0">
      No Sensor Data Found
    </ng-container>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"
                 [rowspan]="2">
    <div id="map-details" class="map-details"></div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"
                 [rowspan]="1">
    <mat-grid-tile-header>
      Valves
    </mat-grid-tile-header>
    <ng-container *ngIf="loadingInfo">
      Loading ...
    </ng-container>
    <ng-container *ngIf="!loadingInfo && valvesData.length !== 0">
      <mat-list class="data-list" dense>
        <mat-list-item (mouseenter)="onHoverEnter(valve)" (mouseleave)="onHoverLeave(valve)" (click)="onSelect(valve)"
                       *ngFor="let valve of valvesData">
          <mat-icon mat-list-icon>water_drop</mat-icon>
          <div mat-line><strong>{{valve.device.name.value | truncate : 25}}</strong></div>
          <div mat-line>
            <mat-chip-list>
              <mat-chip class="{{valve.getFirstDataIcon()}}">
                <mat-icon>{{valve.getFirstDataIcon()}}</mat-icon>
                {{valve.getFirstDataDetails()}}
              </mat-chip>
              <mat-chip class="schedule">
                <mat-icon>schedule</mat-icon>
                {{valve.reportedAt | date:'medium'}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-container *ngIf="!loadingInfo && valvesData.length === 0">
      No Valve Data Found
    </ng-container>
  </mat-grid-tile>
</mat-grid-list>
<div mat-dialog-actions class="to-right">
  <button mat-stroked-button [mat-dialog-close]="true">Close</button>
</div>
