/* You can add global styles to this file, and also import other style files */
@import '../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

.mapboxgl-popup-content {
  font-family: 'Helvetica Neue', sans-serif;
}

//cool one -> https://coolors.co/006466-065a60-0b525b-144552-1b3a4b-212f45-272640-312244-3e1f47-4d194d
//cool one -> https://coolors.co/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77
//new (for history)-> https://coolors.co/012a4a-013a63-01497c-014f86-2a6f97-2c7da0-468faf-61a5c2-89c2d9-a9d6e5
//old -> https://coolors.co/000000-0c1821-1b2a41-324a5f-ccc9dc
.follow-button > .mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #012a4a;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mat-accent .mat-slider-track-fill {
  background-color: #012a4a !important;
}

.mat-slider-thumb-label {
  background-color: #012a4a !important;
}

.mat-slider-thumb {
  background-color: #012a4a !important;
}
