:host {
  height: 100%;
}

.search-card {
  display: block;
  position: relative;
  width: 256px;
  left: 2%;
  top: 96px;
  margin-bottom: 30px;
}

.history-card {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: 32px;
  width: 60%;
  max-width: 1024px;
  height: 160px;
  border-radius: 10px;
  margin-bottom: 1%;
}

.history-card-content > mat-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.styles-card {
  display: block;
  position: absolute;
  width: 256px;
  bottom: 32px;
  height: 160px;
  left: 2%;
  border-radius: 10px;
  margin-bottom: 1%;
}

.radio-button {
  margin: 5px;
}
