<mat-toolbar class="toolbar mat-elevation-z1">
  <a mat-button routerLink="/">
    <mat-icon aria-label="home">home</mat-icon>
  </a>
  <div *ngFor="let mfe of microfrontendServices">
    <span *ngIf="canShow(mfe)" class="spacer"></span>
    <button *ngIf="canShow(mfe)" mat-button (click)="goTo(mfe.routePath)">
      {{ mfe.displayName }}
    </button>
  </div>

  <div class="toolbar-spacer"></div>
  <button
    *ngIf="canShowAny(microfrontendTools)"
    class="menu"
    mat-button
    [matMenuTriggerFor]="menu"
  >
    Tools
  </button>
  <mat-menu #menu="matMenu">
    <div *ngFor="let mfe of microfrontendTools">
      <button mat-menu-item *ngIf="canShow(mfe)" [routerLink]="mfe.routePath">
        {{ mfe.displayName }}
      </button>
    </div>
  </mat-menu>
  <span *ngIf="canShowAny(microfrontendTools)" class="spacer"></span>

  <button mat-button *ngIf="!loginDisplay" (click)="login()">Login</button>
  <button mat-button *ngIf="loginDisplay" (click)="logout()">Logout</button>
</mat-toolbar>
