<mat-toolbar class="toolbar mat-elevation-z1">
  <a mat-button routerLink="/">
    <mat-icon aria-label="home">home</mat-icon>
  </a>
  <div *ngFor="let mfe of microfrontendServices">
    <span *ngIf="canShow(mfe)" class="spacer"></span>
    <button *ngIf="canShow(mfe)" mat-button (click)="goTo(mfe.routePath)">
      {{ mfe.displayName }}
    </button>
  </div>

  <div class="toolbar-spacer"></div>
  <button
    *ngIf="canShowAny(microfrontendTools)"
    class="menu"
    mat-button
    [matMenuTriggerFor]="tools"
  >
    Tools
  </button>
  <mat-menu #tools="matMenu">
    <div *ngFor="let mfe of microfrontendTools">
      <button mat-menu-item *ngIf="canShow(mfe)" [routerLink]="mfe.routePath">
        <mat-icon>{{ mfe.icon }}</mat-icon>
        <span>{{ mfe.displayName }}</span>
      </button>
    </div>
  </mat-menu>
  <span *ngIf="canShowAny(microfrontendTools)" class="spacer"></span>

  <button mat-button *ngIf="!loginDisplay" [matMenuTriggerFor]="login">
    Login
  </button>
  <mat-menu #login="matMenu">
    <button (click)="logInAsAnonymous()" mat-menu-item>
      <mat-icon>no_accounts</mat-icon>
      <span>Anonymous</span>
    </button>
    <button (click)="logInWithGoogle()" mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>With Google</span>
    </button>
    <button (click)="loginWithMicrosoft()" mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>With Microsoft</span>
    </button>
  </mat-menu>

  <button mat-icon-button *ngIf="loginDisplay" [matMenuTriggerFor]="account">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #account="matMenu">
    <button *ngIf="!isAnonymous()" (click)="profile()" mat-menu-item>
      <mat-icon>badge</mat-icon>
      <span>Profile</span>
    </button>
    <button (click)="logout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

</mat-toolbar>
