.search-card {
  width: 15%;
  min-width: 200px;
  height: 80%;
  position: absolute;
  top: 4%;
  left: 2%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.search-bar {
  width: 100%;
}
