<div>
  <div id="map" class="map"></div>
  <frontend-services-search-card *ngIf="canViewLiveOrPastData()"
    class="search-card"
    (devicesPicked)="subscribeToDevice($event)"
    (deviceCleaned)="cleanSubscriber()"
    (contentPicked)="subscribeToContent($event)"
    (contentCleaned)="cleanSubscriber()"
    (deviceHistory)="buildHistory($event)"
    (historyCleaned)="cleanHistory()"
    [devices]="devices"
  >
  </frontend-services-search-card>
  <mat-card class="history-card" *ngIf="!history.isEmpty()">
    <mat-card-title>History Details</mat-card-title>
    <mat-card-subtitle>{{ formatLabel() }}</mat-card-subtitle>
    <mat-card-content class="history-card-content">
      <mat-slider
        (change)="showDevices()"
        step="90000"
        [min]="history.startTime"
        [max]="history.endTime"
        [(ngModel)]="currentHistoryTime"
        aria-label="units"
      >
      </mat-slider>
    </mat-card-content>
  </mat-card>
</div>
