**/.idea
**/target
**/*.iml

secrets/prod/*
!secrets/prod/.gitkeep

secrets/dev/*
!secrets/dev/.gitkeep

secrets/keys/*
!secrets/keys/.gitkeep

secrets/dev.conf
secrets/prod.conf
secrets/act-secrets.env

databases-data

test-examples

databases/identity-management-database/identity-management-initdb.sql

jmeter-tests/properties.env

reports/*
!reports/.gitkeep

k6/results/*
