<h1 mat-dialog-title>Notification Delivery Configuration</h1>
<div mat-dialog-content style="height: calc(100% - 96px);">
  <div class="table-container">
    <div class="container mat-elevation-z2">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element"> {{element.contentType.getCategory()}} </td>
        </ng-container>

        <ng-container matColumnDef="subCategory">
          <th mat-header-cell *matHeaderCellDef>Sub Category</th>
          <td mat-cell *matCellDef="let element"> {{element.contentType.getSubCategory()}} </td>
        </ng-container>

        <ng-container matColumnDef="severity">
          <th class="center-cell" mat-header-cell *matHeaderCellDef>Severity</th>
          <td class="center-cell" mat-cell *matCellDef="let element">
            <mat-icon matTooltip="{{element.contentType.severity}}"
                      [ngStyle]="{'color': element.contentType.getSeverityAsColor()}">circle
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="history">
          <th class="center-cell" mat-header-cell *matHeaderCellDef>Show Old Notifications</th>
          <td class="center-cell" mat-cell *matCellDef="let element">
            <section>
              <mat-checkbox [color]="'primary'" [(ngModel)]="element.history"
                            class="example-margin"></mat-checkbox>
            </section>
          </td>
        </ng-container>

        <ng-container matColumnDef="ui">
          <th class="center-cell" mat-header-cell *matHeaderCellDef>Send UI Notification</th>
          <td class="center-cell" mat-cell *matCellDef="let element">
            <section>
              <mat-checkbox [color]="'primary'" [(ngModel)]="element.notification"
                            class="example-margin"></mat-checkbox>
            </section>
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th class="center-cell" mat-header-cell *matHeaderCellDef>Send Email</th>
          <td class="center-cell" mat-cell *matCellDef="let element">
            <section>
              <mat-checkbox [color]="'primary'" [(ngModel)]="element.email"
                            class="example-margin"></mat-checkbox>
            </section>
          </td>
        </ng-container>

        <ng-container matColumnDef="sms">
          <th class="center-cell" mat-header-cell *matHeaderCellDef>Send SMS</th>
          <td class="center-cell" mat-cell *matCellDef="let element">
            <section>
              <mat-checkbox [color]="'primary'" [(ngModel)]="element.sms"
                            class="example-margin"></mat-checkbox>
            </section>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="removeEntry(element)" mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="table-container">
    <mat-form-field class="spaced-input">
      <mat-label>Category</mat-label>
      <input
        [(ngModel)]="newCategory"
        matInput
        [matAutocomplete]="category"
      />
      <mat-autocomplete autoActiveFirstOption #category="matAutocomplete">
        <mat-option *ngFor="let option of getCategoryOptions()" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-hint *ngIf="newCategory.trim().length !== 0">The system will interrupter this
        as {{toCamelCase(newCategory)}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="spaced-input">
      <mat-label>Sub Category</mat-label>
      <input
        [(ngModel)]="newSubCategory"
        matInput
        [matAutocomplete]="subCategory"
      />
      <mat-autocomplete autoActiveFirstOption #subCategory="matAutocomplete">
        <mat-option *ngFor="let option of getSubCategoryOptions()" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-hint *ngIf="newSubCategory.trim().length !== 0">The system will interrupter this
        as {{toCamelCase(newSubCategory)}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="spaced-input">
      <mat-label>Severity Level</mat-label>
      <mat-select [(value)]="newSeverity">
        <mat-option value="INFORMATION">Information</mat-option>
        <mat-option value="WATCH">Watch</mat-option>
        <mat-option value="ADVISORY">Advisory</mat-option>
        <mat-option value="WARNING">Warning</mat-option>
        <mat-option value="CRITICAL">Critical</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button [disabled]="!validEntry()" (click)="addEntry()">Add entry</button>
  </div>
</div>
<div class="to-right" mat-dialog-actions>
  <button mat-stroked-button (click)="save()">Save Configuration</button>
  <button mat-stroked-button [mat-dialog-close]="true" (click)="onNoClick()">Exit</button>
</div>
