.search-card {
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 2;
  margin-bottom: 30px;
}

.search-bar {
  width: 100%;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.toggle {
  margin-top: 10px;
  height: 34px;
  align-items: center;
}

.toggle-item {
  width: 80px;
}

.select-all {
  height: 30px;
  align-items: center;
  margin: 5px 17px;
}
