<div class="cards">
  <mat-card class="search-card">
    <mat-card-title>Search Box</mat-card-title>
    <mat-card-subtitle>Current Filter: {{searchCurrent}}</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field class="search-bar">
        <mat-label>Device Id/Name</mat-label>
        <input matInput type="text" (keyup.enter)="onDeviceClick()" [(ngModel)]="searchDevice">
        <button *ngIf="searchDevice" matSuffix mat-icon-button (click)="onDeviceClear()">
          <mat-icon>close</mat-icon>
        </button>
        <button *ngIf="searchDevice.trim().length > 0" matSuffix mat-icon-button (click)="onDeviceClick()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <button [disabled]="searchDevice.trim().length === 0" matSuffix mat-stroked-button (click)="onDeviceClick()">
        search by device
      </button>
      <br>
      <mat-form-field class="search-bar">
        <mat-label>Content</mat-label>
        <input matInput type="text" (keyup.enter)="onContentClick()" [(ngModel)]="searchContent">
        <button *ngIf="searchContent" matSuffix mat-icon-button (click)="onContentClear()">
          <mat-icon>close</mat-icon>
        </button>
        <button *ngIf="searchContent.trim().length > 0" matSuffix mat-icon-button (click)="onContentClick()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <button [disabled]="searchContent.trim().length === 0" matSuffix mat-stroked-button
              (click)="onContentClick()">
        search by content
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card class="search-card">
    <mat-card-title>History Box
    </mat-card-title>
    <mat-card-subtitle>Current History: {{historyCurrent}}</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field class="search-bar">
        <mat-label>Device Id/Name</mat-label>
        <input matInput type="text" (keyup.enter)="onDeviceClick()" [(ngModel)]="historyDevice">
        <button *ngIf="deviceHistory" matSuffix mat-icon-button (click)="onDeviceHistoryClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Starting Date</mat-label>
        <input matInput [matDatepicker]="startPicker" [(ngModel)]="historyStartDate">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Finishing Date</mat-label>
        <input matInput [matDatepicker]="endPicker" [(ngModel)]="historyEndDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
      <br>
      <button [disabled]="!validHistoryQuery()" matSuffix mat-stroked-button (click)="onHistoryClick()">
        search
      </button>
    </mat-card-content>
  </mat-card>
</div>
