<div>
  <div id="map" class="map"></div>
  <mat-card *ngIf="!isDrawing" class="garden-card">
    <mat-card-title>
      Gardens
    </mat-card-title>
    <mat-card-content>
      <ng-container *ngIf="loadingGardens">
        Loading ...
      </ng-container>
      <ng-container *ngIf="!loadingGardens && gardens.length !== 0">
        <mat-list dense>
          <mat-list-item (click)="onSelect(garden)" *ngFor="let garden of gardens">
            <div style="display:flex; justify-content:space-between;align-items:center">
              <div style="display:flex;align-items:center">
                <mat-icon mat-list-icon>yard</mat-icon>
                <div style="display:flex; flex-direction:column">
                  <div>
                    <h3 matLine> {{garden.name.value}}</h3>
                  </div>
                  <div style="margin-top:-30px">
                    <p matLine>
                      {{garden.id.value | truncate:30}}
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <button mat-icon-button (click)="onEdit($event, garden)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="onDelete($event, garden)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-container *ngIf="!loadingGardens && gardens.length === 0">
        No Gardens Found
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button (click)="startGardenSketch()">Create Garden</button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="isDrawing && !isEditing" class="garden-card">
    <mat-card-title>
      New Garden
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="gardenName"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button [disabled]="!isSketchValid || gardenName.trim().length === 0" (click)="buildGarden()">
        Save
      </button>
      <button mat-stroked-button (click)="deleteGardenSketch()">Cancel</button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="isDrawing && isEditing" class="garden-card">
    <mat-card-title>
      Edit Garden
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="editing.name.value"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button [disabled]="!isSketchValid || editing.name.value.trim().length === 0"
              (click)="editGarden()">
        Save
      </button>
      <button mat-stroked-button (click)="deleteGardenEditSketch()">Cancel</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="styles-card">
    <label>Change Styles</label>
    <mat-radio-group
      class="radio-group"

      [value]="style">
      <mat-radio-button (click)="changeStyle($event, stl)" class="radio-button" *ngFor="let stl of styles"
                        [value]="stl">
        {{stl}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card>
</div>
