:host {
  height: 100%;
}

.zones-card {
  display: block;
  position: relative;
  width: 20%;
  max-width: 400px;
  left: 2%;
  top: 96px;
  border-radius: 10px;
  z-index: 2;
  margin-bottom: 2%;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}

.styles-card {
  display: block;
  position: absolute;
  width: 20%;
  max-width: 400px;
  bottom: 32px;
  left: 2%;
  border-radius: 10px;
  z-index: 2;
  margin-bottom: 2%;
}

.data-list {
  overflow: auto;
  max-height: 300px;
}
