<br>
<mat-form-field class="medium-input">
  <mat-label>Device Type</mat-label>
  <input
    [disabled]="dataDecoderView === dataDecoderViewType.Compare || !canEdit"
    [(ngModel)]="dataDecoder.data.type"
    matInput
  />
  <mat-hint>can only contain letters and numbers, e.g. lgt92</mat-hint>
</mat-form-field>
<ng-container
  *ngIf="dataDecoderView === dataDecoderViewType.Edit && canDelete"
>
  <button
    class="to-right"
    mat-stroked-button
    (click)="deleteDataDecoder()"
  >
    Delete
  </button>
</ng-container>
<br/>
<ng-container
  *ngIf="dataDecoderView === dataDecoderViewType.New && canEdit"
>
  <button
    [disabled]="!dataDecoder.isValid()"
    class="to-right"
    mat-stroked-button
    (click)="saveDataDecoder()"
  >
    Save
  </button>
</ng-container>
<ng-container
  *ngIf="dataDecoderView === dataDecoderViewType.Edit && canEdit"
>
  <button
    [disabled]="!dataDecoder.isValid()"
    class="to-right"
    mat-stroked-button
    (click)="saveDataDecoder()"
  >
    Update
  </button>
</ng-container>
<br>
<div class="long-input" #editorContainer></div>
<mat-hint class="hint">the script needs to have an entry point function called convert</mat-hint>
