<h1 mat-dialog-title>{{data.name.value}}</h1>
<mat-dialog-content class="container">
  <div class="sensor">
    <ng-container *ngIf="loadingInfo">
      Loading ...
    </ng-container>
    <div mat-subheader>Sensors</div>
    <ng-container *ngIf="!loadingInfo && sensorsData.length !== 0">
      <mat-list class="data-list" dense>
        <mat-list-item (mouseenter)="onHoverEnter(sensor)" (mouseleave)="onHoverLeave(sensor)"
                       (click)="openDeviceHistory(sensor)" *ngFor="let sensor of sensorsData">
          <mat-icon [ngStyle]="sensor.getColor()" mat-list-icon>sensors</mat-icon>
          <div mat-line>
            <strong>{{sensor.device.name.value}}</strong>
          </div>
          <div mat-line>
            <mat-chip-list>
              <mat-chip class="{{sensor.getFirstDataIcon()}}">
                <mat-icon>{{sensor.getFirstDataIcon()}}</mat-icon>
                {{sensor.getFirstDataDetails()}}
              </mat-chip>
              <mat-chip class="{{sensor.getSecondDataIcon()}}">
                <mat-icon>{{sensor.getSecondDataIcon()}}</mat-icon>
                {{sensor.getSecondDataDetails()}}
              </mat-chip>
              <mat-chip class="schedule">
                <mat-icon>schedule</mat-icon>
                {{sensor.timeAgo()}} ago
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-container *ngIf="!loadingInfo && sensorsData.length === 0">
      <mat-list class="data-list" dense>
        <mat-list-item>
          No Sensor Data Found
        </mat-list-item>
      </mat-list>
    </ng-container>
  </div>
  <div class="map-tile">
        <div class="map-details"
             id="map-details"></div>
    <div id='loader'><span class='message'>loading</span></div>
  </div>
  <div class="valve">
    <ng-container *ngIf="loadingInfo">
      Loading ...
    </ng-container>
    <div mat-subheader>Valves</div>
    <ng-container *ngIf="!loadingInfo && valvesData.length !== 0">
      <mat-list class="data-list" dense>
        <mat-list-item (mouseenter)="onHoverEnter(valve)" (mouseleave)="onHoverLeave(valve)" (click)="onSelect(valve)"
                       *ngFor="let valve of valvesData">
          <mat-icon mat-list-icon>water_drop</mat-icon>
          <div mat-line><strong>{{valve.device.name.value}}</strong></div>
          <div mat-line>
            <mat-chip-list>
              <mat-chip class="{{valve.getFirstDataIcon()}}">
                <mat-icon>{{valve.getFirstDataIcon()}}</mat-icon>
                {{valve.getFirstDataDetails()}}
              </mat-chip>
              <mat-chip *ngIf="canInteractWithValve(valve)" class="play_arrow">
                <mat-icon>play_arrow</mat-icon>
                control
              </mat-chip>
              <mat-chip *ngIf="!canInteractWithValve(valve)" class="close">
                <mat-icon>close</mat-icon>
                <s>control</s>
              </mat-chip>
              <mat-chip class="schedule">
                <mat-icon>schedule</mat-icon>
                {{valve.timeAgo()}} ago
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-container *ngIf="!loadingInfo && valvesData.length === 0">
      <mat-list class="data-list" dense>
        <mat-list-item>
          No Valve Data Found
        </mat-list-item>
      </mat-list>
    </ng-container>
  </div>
</mat-dialog-content>
<div mat-dialog-actions class="to-right">
  <button mat-stroked-button [mat-dialog-close]="true">Close</button>
</div>
