<div class="map-container">
  <div id="map" class="map"></div>
  <frontend-services-search-card (devicePicked)="subscribeTo($event)"
                                 (deviceCleaned)="cleanSubscriber()">
  </frontend-services-search-card>
  <div class="follow-button">
    <button [matTooltip]="this.buttonInfo()" mat-fab aria-label="Follow new sensor data"
            (click)="this.changeFollow()">
      <mat-icon *ngIf="follow">visibility</mat-icon>
      <mat-icon *ngIf="!follow">visibility_off</mat-icon>
    </button>
  </div>
</div>
