<div>
  <div id="map" class="map"></div>
  <frontend-services-search-card class="aaaa" (devicesPicked)="subscribeToDevice($event)"
                                 (deviceCleaned)="cleanSubscriber()"
                                 (contentPicked)="subscribeToContent($event)"
                                 (contentCleaned)="cleanSubscriber()"
                                 (deviceHistory)="buildHistory($event)"
                                 (historyCleaned)="cleanHistory()"
                                 [devices]="devices">
  </frontend-services-search-card>
</div>
