<p>
  <mat-form-field class="medium-input">
    <mat-label>Device Name</mat-label>
    <input
      [disabled]="deviceView === deviceViewType.Compare || !canEdit"
      [(ngModel)]="device.device.name"
      matInput
    />
    <mat-hint>e.g. GPS Sensor A1</mat-hint>
  </mat-form-field>
  <ng-container *ngIf="deviceView === deviceViewType.Edit && canDelete">
    <button class="to-right" mat-stroked-button (click)="deleteDevice()">
      Delete
    </button>
  </ng-container>
  <br/>
  <mat-form-field class="medium-input">
    <mat-label>Device Id</mat-label>
    <input
      [disabled]="deviceView !== deviceViewType.New"
      [(ngModel)]="device.device.id"
      matInput
    />
    <mat-hint>e.g. 8af821e5-3e0b-4469-88b0-fd07bee3b09d</mat-hint>
  </mat-form-field>
  <br/>
  <mat-form-field class="medium-input">
    <mat-label>Device DownLink</mat-label>
    <input
      [disabled]="deviceView === deviceViewType.Compare || !canEdit"
      [(ngModel)]="device.device.downlink"
      matInput
    />
    <mat-hint>e.g. https://console.helium.com/api/v1/down/../../..</mat-hint>
  </mat-form-field>
  <ng-container *ngIf="deviceView === deviceViewType.New && canEdit">
    <button
      [disabled]="!device.isValid()"
      class="to-right"
      mat-stroked-button
      (click)="saveDevice()"
    >
      Save
    </button>
  </ng-container>
  <ng-container *ngIf="deviceView === deviceViewType.Edit && canEdit">
    <button
      [disabled]="!device.isValid()"
      class="to-right"
      mat-stroked-button
      (click)="saveDevice()"
    >
      Update
    </button>
  </ng-container>
  <br/>
</p>
<mat-tab-group>
  <mat-tab label="Records">
    <div class="entries">
      <div *ngIf="entryView === viewType.List">
        <mat-list *ngIf="device.records.length !== 0" class="inner-element">
          <mat-list-item
            class="item-list"
            *ngFor="let entry of device.records; let i = index"
          >
            <mat-icon (click)="editEntry(i)" mat-list-icon>text_snippet</mat-icon>
            <div mat-line>{{ entry.label }}</div>
            <div mat-line>{{ entry.content }}</div>
            <button
              *ngIf="deviceView !== deviceViewType.Compare && canEdit"
              mat-icon-button
              (click)="removeEntry($event, i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <ng-container *ngIf="device.records.length === 0" class="inner-element">
          <br/>
          <br/>
          <br/>
          <div class="empty">No Entries</div>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </ng-container>
        <br/>
        <button class="to-right"
                *ngIf="deviceView !== deviceViewType.Compare && canEdit"
                mat-stroked-button
                (click)="entryView = viewType.New"
        >
          New Record
        </button>
      </div>
      <div *ngIf="entryView !== viewType.List">
        <div class="inner-element">
          <br/>
          <br/>
          <mat-form-field class="medium-input">
            <mat-label>Label</mat-label>
            <input matInput type="text" [(ngModel)]="currentEntry.label"/>
            <mat-icon matSuffix>label</mat-icon>
            <mat-hint>e.g. license plate</mat-hint>
          </mat-form-field>
          <br/>
          <mat-form-field class="big-input">
            <mat-label>Content</mat-label>
            <input matInput [(ngModel)]="currentEntry.content"/>
            <mat-icon matSuffix>info</mat-icon>
            <mat-hint>e.g. 00-AA-00</mat-hint>
          </mat-form-field>
        </div>
        <br/>
        <button
          *ngIf="entryView === viewType.New && canEdit"
          mat-stroked-button
          color="primary"
          (click)="addEntry()"
        >
          Add Record Entry
        </button>
        <button
          *ngIf="entryView === viewType.Edit && canEdit"
          mat-stroked-button
          color="primary"
          (click)="saveEntryEdit()"
        >
          Save Changes
        </button>
        <button
          class="to-right"
          mat-stroked-button
          (click)="entryView = viewType.List"
        >
          Back
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Static Data">
    <div class="entries">
      <div *ngIf="entryView === viewType.List">
        <mat-list *ngIf="device.staticData.length !== 0" class="inner-element">
          <mat-list-item
            class="item-list"
            *ngFor="let entry of device.staticData; let i = index"
          >
            <mat-icon (click)="editStaticData(i)" mat-list-icon>{{entry.getIcon()}}</mat-icon>
            <div mat-line>{{ entry.label }}</div>
            <div mat-line>{{ entry.content }}</div>
            <button
              *ngIf="deviceView !== deviceViewType.Compare && canEdit"
              mat-icon-button
              (click)="removeStaticData($event, i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <ng-container *ngIf="device.staticData.length === 0" class="inner-element">
          <br/>
          <br/>
          <br/>
          <div class="empty">No Entries</div>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </ng-container>
        <br/>
        <button class="to-right"
                *ngIf="deviceView !== deviceViewType.Compare && canEdit"
                mat-stroked-button
                (click)="newStaticData()"
        >
          New Static Data
        </button>
      </div>
      <div *ngIf="entryView !== viewType.List">
        <div class="inner-element">
          <br/>
          <br/>
          <mat-form-field class="medium-input">
            <mat-label>Data Type</mat-label>
            <mat-icon matSuffix>label</mat-icon>
            <mat-select [(ngModel)]="currentStaticData.label">
              <mat-option *ngIf="currentStaticData.label"
                          [value]="currentStaticData.label">{{ currentStaticData.label }}</mat-option>
              <mat-option *ngFor="let option of sensorDataType" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
            <mat-hint>Pick One</mat-hint>
          </mat-form-field>
          <br/>
          <mat-form-field class="big-input">
            <mat-label>Content</mat-label>
            <input matInput [(ngModel)]="currentStaticData.content"/>
            <mat-icon matSuffix>info</mat-icon>
            <mat-hint>e.g. 4.365</mat-hint>
          </mat-form-field>
        </div>
        <br/>
        <button
          *ngIf="entryView === viewType.New && canEdit"
          [disabled]="!this.currentStaticData.isValid()"
          mat-stroked-button
          color="primary"
          (click)="addStaticData()"
        >
          Add Static Data
        </button>
        <button
          *ngIf="entryView === viewType.Edit && canEdit"
          mat-stroked-button
          color="primary"
          (click)="saveStaticDataEdit()"
        >
          Save Changes
        </button>
        <button
          class="to-right"
          mat-stroked-button
          (click)="entryView = viewType.List"
        >
          Back
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Sub Devices">
    <div class="entries">
      <div *ngIf="subDeviceView === viewType.List">
        <mat-list *ngIf="device.subDevices.length !== 0" class="inner-element">
          <mat-list-item
            class="item-list"
            *ngFor="let sub of device.subDevices; let i = index"
          >
            <mat-icon (click)="editDevice(i)" mat-list-icon>sensors</mat-icon>
            <div mat-line>{{getDeviceName(sub.id)}}</div>
            <div mat-line>Ref: {{ sub.reference }}</div>
            <button
              *ngIf="deviceView !== deviceViewType.Compare && canEdit"
              mat-icon-button
              (click)="removeSubDevice($event, i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <ng-container *ngIf="device.subDevices.length === 0" class="inner-element">
          <br/>
          <br/>
          <br/>
          <div class="empty">No Entries</div>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </ng-container>
        <br/>
        <button class="to-right"
                *ngIf="deviceView !== deviceViewType.Compare && canEdit"
                mat-stroked-button
                (click)="subDeviceView = viewType.New"
        >
          New Sub Device
        </button>
      </div>
      <div *ngIf="subDeviceView !== viewType.List">
        <div class="inner-element">
          <br/>
          <br/>
          <div>
            <mat-form-field class="medium-input">
              <mat-label>Device</mat-label>
              <mat-icon matSuffix>sensors</mat-icon>
              <mat-select [(ngModel)]="currentSubDevice.id">
                <mat-option *ngFor="let option of devices" [value]="option.device.id">
                  {{ option.device.name }}
                </mat-option>
              </mat-select>
              <mat-hint>Pick One</mat-hint>
            </mat-form-field>
            <mat-form-field class="big-input">
              <mat-label>Sub Device Reference</mat-label>
              <mat-icon matSuffix>label</mat-icon>
              <input type="number" matInput [(ngModel)]="currentSubDevice.reference"/>
              <mat-hint>e.g. 3</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <br/>
        <button
          *ngIf="subDeviceView === viewType.New && canEdit"
          mat-stroked-button
          color="primary"
          (click)="addSubDevice()"
        >
          Add Sub Device
        </button>
        <button
          *ngIf="subDeviceView === viewType.Edit && canEdit"
          mat-stroked-button
          color="primary"
          (click)="saveSubDeviceEdit()"
        >
          Save Changes
        </button>
        <button
          class="to-right"
          mat-stroked-button
          (click)="subDeviceView = viewType.List"
        >
          Back
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Commands">
    <div class="entries">
      <div *ngIf="commandsView === viewType.List">
        <mat-list *ngIf="device.commands.length !== 0" class="inner-element">
          <mat-list-item
            class="item-list"
            *ngFor="let sub of device.commands; let i = index"
          >
            <mat-icon (click)="editCommand(i)" mat-list-icon>send</mat-icon>
            <div mat-line>{{sub.name}}</div>
            <div mat-line><i>{{sub.id}}</i></div>
            <button
              *ngIf="deviceView !== deviceViewType.Compare && canEdit"
              mat-icon-button
              (click)="removeCommand($event, i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <ng-container *ngIf="device.commands.length === 0" class="inner-element">
          <br/>
          <br/>
          <br/>
          <div class="empty">No Entries</div>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </ng-container>
        <br/>
        <button class="to-right"
                *ngIf="deviceView !== deviceViewType.Compare && canEdit"
                mat-stroked-button
                (click)="commandsView = viewType.New"
        >
          New Command
        </button>
      </div>
      <div *ngIf="commandsView !== viewType.List">
        <div class="inner-element">
          <br/>
          <div>
            <mat-form-field class="medium-input">
              <mat-label>Command Id</mat-label>
              <mat-icon matSuffix>label</mat-icon>
              <input matInput [(ngModel)]="currentCommand.id"/>
              <mat-hint>e.g. openValve</mat-hint>
            </mat-form-field>
            <mat-form-field class="big-input">
              <mat-label>Command Name</mat-label>
              <mat-icon matSuffix>badge</mat-icon>
              <input matInput [(ngModel)]="currentCommand.name"/>
              <mat-hint>e.g. Open Valve 1</mat-hint>
            </mat-form-field>
            <mat-form-field class="big-input">
              <mat-label>Command Payload (in Base64)</mat-label>
              <mat-icon matSuffix>forward_to_inbox</mat-icon>
              <input matInput [(ngModel)]="currentCommand.payload"/>
              <mat-hint>e.g. b2xh==</mat-hint>
            </mat-form-field>
            <mat-form-field class="medium-input">
              <mat-label>Device Port</mat-label>
              <mat-icon matSuffix>sensor_door</mat-icon>
              <input type="number" matInput [(ngModel)]="currentCommand.port"/>
              <mat-hint>e.g. 80</mat-hint>
            </mat-form-field>
            <mat-form-field class="medium-input">
              <mat-label>Sub Device Reference</mat-label>
              <mat-icon matSuffix>sensors</mat-icon>
              <input type="number" matInput [(ngModel)]="currentCommand.ref"/>
              <mat-hint>e.g. 1</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <br/>
        <button
          *ngIf="commandsView === viewType.New && canEdit"
          mat-stroked-button
          color="primary"
          (click)="addCommand()"
        >
          Add Command
        </button>
        <button
          *ngIf="commandsView === viewType.Edit && canEdit"
          mat-stroked-button
          color="primary"
          (click)="saveCommand()"
        >
          Save Changes
        </button>
        <button
          class="to-right"
          mat-stroked-button
          (click)="commandsView = viewType.List"
        >
          Back
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
