<h1 mat-dialog-title>Replace with New Data Decoder?</h1>
<div class="list" mat-dialog-content>
  <mat-card class="item">
    <mat-card-title>Old Data Decoder</mat-card-title>
    <mat-card-content>
      <frontend-services-data-decoder
        [entry]="data.old"
        [dataDecoderViewEntry]="dataDecoderViewType.Compare"
      >
      </frontend-services-data-decoder>
    </mat-card-content>
  </mat-card>
  <mat-card class="item">
    <mat-card-title>New Data Decoder</mat-card-title>
    <mat-card-content>
      <frontend-services-data-decoder
        [entry]="data.fresh"
        [dataDecoderViewEntry]="dataDecoderViewType.Compare"
      >
      </frontend-services-data-decoder>
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
    No Thanks
  </button>
  <button mat-button [mat-dialog-close]="true">Ok</button>
</div>
