@import '~mapbox-gl/dist/mapbox-gl.css'; /* You can add global styles to this file, and also import other style files */
html,
body {
  width: 101%;
  height: 101%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.marker-stroked {
  background-image: url("/assets/marker-stroked.svg");
  width: 41px;
  height: 41px;
  cursor: pointer;
}

.marker-basic {
  background-image: url("/assets/marker-basic.svg");
  width: 27px;
  height: 41px;
  cursor: pointer;
}

.mapboxgl-popup {
  /*  */
}

.mapboxgl-popup-content {
  font-family: "Helvetica Neue", sans-serif;
}
