/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'styles/roboto.scss';
@import 'styles/material-icons.scss';
@import "styles/mapbox.scss";
@import "styles/fira-code.bold.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.map {
  position: absolute;
  top: 64px;
  bottom: 0;
  width: 100%;
}

.follow-button {
  position: absolute;
  bottom: 5%;
  left: 2%;
  z-index: 9999;
}

//https://coolors.co/000000-0c1821-1b2a41-324a5f-ccc9dc
.follow-button > .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: #324a5f;
}

.search-card {
  position: absolute;
  width: 15%;
  min-width: 250px;
  min-height: 60%;
  left: 2%;
  top: 10%;
  border-radius: 10px;
  background-color: #ccc9dc;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 2;
}

.search-bar {
  width: 100%;
}

.critical-snackbar {
  background: #E03C32;
  color: #000000;
  white-space: pre-wrap;

  .mat-simple-snackbar-action {
    color: #000000;
  }
}

.error-snackbar {
  background: #E03C32;
  color: #000000;
  white-space: pre-wrap;

  .mat-simple-snackbar-action {
    color: #000000;
  }
}

.warning-snackbar {
  background: #FF8C01;
  color: #000000;
  white-space: pre-wrap;

  .mat-simple-snackbar-action {
    color: #000000;
  }
}

.advisory-snackbar {
  background: #FFD301;
  color: #000000;
  white-space: pre-wrap;

  .mat-simple-snackbar-action {
    color: #000000;
  }
}

.watch-snackbar {
  background: #7BB662;
  color: #000000;
  white-space: pre-wrap;

  .mat-simple-snackbar-action {
    color: #000000;
  }
}

.information-snackbar {
  background: #006B3E;
  color: #ffffff;
  white-space: pre-wrap;

  .mat-simple-snackbar-action {
    color: #ffffff;
  }
}
